@import "@global/sass/main";

.btn {
  @include buttonBasics(18px, $colorGreyDark1, $colorGreyLight1);
  padding: 12px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 93%;
  border: 1px solid $colorBlueDark;
}

.hover {
  @include buttonHover(translateY(-3px));
}

.darken {
  transition: all 0.5s;

  &:hover {
    color: darken($colorGreyDark1, 5);
    background-color: rgba($colorBluePrimary, 0.1);
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }
}
