@import "@global/sass/main";

.container {
  position: absolute;
  width: 100%;
  top: 10rem;
  z-index: 1;
}

.title {
  color: $colorGreyLight2;
  font-family: $fontPrimary;
  font-size: $fsLarge;
  text-align: center;
}

.text {
  background: rgba($colorGreyLight2, 0.7);
  border: solid 0.5px $colorBlueDark;
  border-radius: 2px;

  color: $colorGreyDark1;
  font-family: "Yusei Magic", sans-serif;
  font-size: $fsSmall;
  width: 90%;
  margin: auto;
  line-height: 1.5rem;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  transition: all, 0.5s;

  &:hover {
    background-color: darken(rgba(247, 247, 248, 0.8), 10);
  }
}

.text:hover {
  .animateText {
    animation: darkenText 2.5s ease-out;
  }
}

@keyframes darkenText {
  0% {
    color: darken($colorGreyDark1, 5);
  }
  75% {
    color: darken($colorGreyDark1, 25);
  }
  90% {
    color: darken($colorGreyDark1, 3);
  }
}

.textInputContainer {
  padding-left: 9px;
  padding-right: 9px;
}

.error {
  color: $colorRed;
  font-size: $fsSmall2;
  font-family: $fontPrimary;
  padding-left: 5rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
